<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-dataView [value]="cli" #dv filterBy="razao" [paginator]="true" [rows]="10">
        <p-header>
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                  <input type="text" pInputText (keyup)="dv.filter($event.target.value)" placeholder="Procurar por Razao Social">
                </div>
              </div>
            </div>
          </div>
        </p-header>
        <ng-template let-cliente pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-8">
              <div class="ui-g">
                <div class="ui-g-4 ui-sm-4">Razão Social: </div>
                <div class="ui-g-8 ui-sm-8">
                  <b>{{cliente.razao}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">CNPJ: </div>
                <div class="ui-g-6 ui-sm-6">
                  <b>{{cliente.cnpj}}</b>
                </div>
                <div class="ui-sm-1">
                  <button pButton type="button" icon="ui-icon-edit" routerLink="{{cliente.id}}/edit"></button>
                </div>

                <div class="ui-g-4 ui-sm-4">Numero: </div>
                <div class="ui-g-8 ui-sm-8">
                  <b>{{cliente.telefone}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">E-mail: </div>
                <div class="ui-g-6 ui-sm-6">
                  <b>{{cliente.email}}</b>
                </div>
                <div class="ui-sm-1">
                  <button pButton type="button" icon="ui-icon-delete" class="ui-button-danger" (click)="confirmaex(cliente.id)"></button>
                </div>

                <div class="ui-g-4 ui-sm-4">Nome do Responsavel: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.responsavel}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">CPF do Responsavel: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.cpfres}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">CEP: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.cep}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">Endereço: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.endereco}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4">Cidade: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.cidade}}</b>
                </div>

                <div class="ui-g-4 ui-sm-4" *ngIf="cliente.complemento != null ">Complemento: </div>
                <div class="ui-g-8 ui-sm-8" >
                  <b>{{cliente.complemento}}</b>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
