<div class="exception-panel">
  <div class="exception-code">
    <img src="assets/layout/images/exception/404.svg">
  </div>

  <div class="exception-detail">
    <div class="exception-icon">
      <i class="material-icons">error_outline</i>
    </div>
    <h1>PAGINA NÃO ENCONTRADA</h1>
    <p>Por favor contate o administrador</p>
    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only" (click)="back()">
      <span class="ui-button-text">Voltar</span>
    </button>
  </div>
</div>
