<form>
  <div class="row" style="margin-top: 20px">
    <div class="col-6 offset-md-3 col-md-3 mx-auto">
      <label >CNPJ/CPF</label>
      <label style="float: right">
        <a href="www.facebook.com">Esqueceu a conta?</a>
      </label>
      <input type="text" name="cpf" placeholder="CNPJ para empresas e CPF para funcionários" class="form-control" required>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-md-3 col-md-3 mx-auto">
      <label for="senha" class="control-label">Senha</label>
      <input id="senha" required type="password" name="senha"
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div style="padding-top:15px" class="col-6 offset-md-3 col-md-3 mx-auto">
      <input id="lembrar" type="checkbox" name="senha">
      <label>Lembrar credenciais</label>
    </div>
  </div>

  <div class="row" style="padding-bottom:15px;">
    <div class="col-6 offset-md-3 col-md-3 mx-auto">
      <button class="btn btn-primary btn-lg btn-block" type="submit
              "> Enviar
      </button>
    </div>
  </div>
  <div style="border-top: 1px solid#888; padding-top:15px; text-align: center" class="row col-6 offset-md-3 col-md-3 mx-auto">
    <div>
      <label>Ainda não tem uma conta!
      <a href="www.facebook.com">Cadastre-se</a>
      </label>
    </div>
  </div>
</form>
