<div class="ui-g" *ngIf="relat">

  <form #funform="ngForm">
    <div class="ui-g-12" align="center">
      <h1>Gerar Relatórios</h1>
      <br/><br/>
      <div class="ui-g form-group">


        <div class="ui-g-12">
          <span>Tipo de Relatório<span style="color: red">*</span></span>
          <p-dropdown [options]="tipos" [(ngModel)]="selecionarTipo" placeholder="Tipo" optionLabel="nome" [showClear]="true"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <span>Filtrar por estado</span>
          <p-dropdown [options]="estados" [(ngModel)]="selecionarEstado" placeholder="Estado" optionLabel="nome" [showClear]="true"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <span>Filtrar por cidade</span>
          <p-dropdown [options]="cidades" [(ngModel)]="selecionarCidade" placeholder="Cidade" optionLabel="nome" [showClear]="true"></p-dropdown>
        </div>


        <div class="ui-g-12">
          <span>Data de início<span style="color: red">*</span></span>
          <p-calendar [(ngModel)]="relat.date3" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{relat.date3|date}}</span>
        </div>

        <div class="ui-g-12">
          <span>Data de fim<span style="color: red">*</span></span>
          <p-calendar [(ngModel)]="relat.date3" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{relat.date3|date}}</span>
        </div>

        <div class="ui-g-12" align="center">
          <button type="button" pButton icon="ui-icon-check" label="Gerar PDF" [disabled]="funform.invalid" routerLink="/gerente"></button>
        </div>

        <br/><br/>
        <div class="ui-g-12" align="center">
          <div class="fa-align-justify">
            <span style="text-align: center"><span style="color: red">*</span> Campos Obrigatórios</span>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
