<div class="row">
  <div class="col-12 text-center">
    <h2>Admin - Cadastro Cliente</h2>
  </div>
</div>
<form>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>CNPJ</label><span class="text-danger">*</span>
      <input type="text" class="form-control" required>
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label >Telefone</label><span class="text-danger">*</span>
      <input type="text" class="form-control" required
             >
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>E-mail</label><span class="text-danger">*</span>
      <input type="email" class="form-control" required>
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Senha</label><span class="text-danger">*</span>
      <input type="password" required
             class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Confirmar Senha</label><span class="text-danger">*</span>
      <input type="password" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Razão Social</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Responsável</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>CPF do Responsável</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>CEP</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Endereço</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Cidade</label><span class="text-danger">*</span>
      <input type="text" required
             class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <label>Complemento</label>
      <input type="text"
             class="form-control">
    </div>
  </div>


  <br/>
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <button class="btn btn-primary btn-lg btn-block" type="submit"
              > Cadastrar-se
      </button>
    </div>
  </div>
</form>

<br>

<div class="row">
  <div class="col-12 offset-md-3 col-md-6">
    <span class="text-danger">*</span>
    <span>Campos Obrigatórios</span>
  </div>
</div>
