<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-shrink">
  <a class="navbar-brand" routerLink="">
    <img src="assets/img/icon.png" height="30px" alt="logo pet"/> boxit
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav"
          aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="navbar-collapse justify-content-end collapse text-white" id="mobileNav" style="font-size: 14px;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cursor" id="categoria" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="categoria">
            <a class="dropdown-item" routerLink="categorias/new">Nova Categoria</a>
            <a class="dropdown-item" routerLink="categorias">Listar Categorias</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cursor" id="produto" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Produtos
          </a>
          <div class="dropdown-menu" aria-labelledby="produto">
            <a class="dropdown-item" routerLink="produtos/new">Novo Produto</a>
            <a class="dropdown-item" routerLink="produtos">Listar Produtos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cursor" id="funcionario" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Funcionários
          </a>
          <div class="dropdown-menu" aria-labelledby="funcionario">
            <a class="dropdown-item" routerLink="funcionarios/new">Novo Funcionário</a>
            <a class="dropdown-item" routerLink="funcionarios">Listar Funcionários</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
