<div class="row">
  <div class="col-12 text-center">
    <h1 class="text-center">{{ !update && "Inserir novo produto" || "Modificar produto" }}</h1>
  </div>
</div>
<form #f="ngForm">
  <div class="row">
    <div class="col-12 offset-md-3 col-md-4">
      <div class="col-12" style="padding-right: 0;">
        <label>Nome<span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Produto"
               name="name" [(ngModel)]="estoq.nome" required [minlength]="2"/>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="col-12">
            <label>Preço<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="R$00,00"
                   currencyMask [(ngModel)]="estoq.preco" [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}"
                   name="preco" required [minlength]="2"/>
          </div>
          <div class="col-12">
            <label>Quantidade<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="0"
                   name="qtd" [(ngModel)]="estoq.qtd" required [minlength]="1"/>
          </div>
          <div class="col-12">
            <label>Un/Lote<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="0"
                   name="lote" [(ngModel)]="estoq.lote" required [minlength]="1"/>
          </div>
          <div class="col-12">
            <label>Código<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="0"
                   name="sku" [(ngModel)]="estoq.sku" required [minlength]="1"/>
          </div>
          <div class="col-12">

            <label>Categoria<span class="text-danger">*</span></label>
            <select [(ngModel)]="estoq.categoria" required [minlength]="1" class="custom-select"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.nome}}</option>
            </select>

          </div>
        </div>
        <div class="col-12 col-md-6">
          <label>Descrição<span class="text-danger">*</span></label>
          <textarea class="form-control" placeholder="Produto" rows="10"
                    name="descricao" [(ngModel)]="estoq.descricao" required [minlength]="1"
                    #nameInput="ngModel"></textarea>
          <br/>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col"><i class="fal fa-file-image fa-5x"></i></div>
        <div class="col"><i class="fal fa-file-image fa-5x"></i></div>
        <div class="col"><i class="fal fa-file-image fa-5x"></i></div>
        <div class="col"><i class="fal fa-file-image fa-5x"></i></div>
        <div class="col-12 text-center">
          <br>
          <input style="display: none" type="file" #fileInput>
          <button class="btn btn-primary">Selecionar arquivo</button>
          &nbsp;
          <button class="btn btn-primary">Fazer upload de fotos</button>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-12 offset-md-4 col-md-4">
      <div class="row">
        <div class="col-5">
          <a routerLink="/produtos">
            <button type="button" class="btn btn-primary btn-block">{{"Voltar"}}</button>
          </a>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <button [disabled]="f.invalid" type="button" class="btn btn-primary btn-block" (click)="atualizarProduto()" >{{"Atualizar"}}
          </button>
        </div>
      </div>
    </div>

  </div>
</form>
