<div class="ui-g" *ngIf="prod">


    <div class="ui-g-12" align="center">
      <h1>Alterar quantidade de produtos</h1>
      <br/><br/>
      <div class="ui-g form-group">

        <div class="ui-g-12" align="center">
          <span>Codigo do produto<span style="color: red">*</span></span>
          <span class="md-inputfield">
                <input type="text" required name="codigo" id="codigo"
                       class="ui-inputtext ui-corner-all ui-widget" ngModel #user="ngModel" [(ngModel)]="prod.codigo"
                       #nomef="ngModel" pInputText>
            </span>
        </div>

        <div class="ui-g-12" align="center">
          <span>Quantidade a ser adicionada<span style="color: red">*</span></span>
          <span class="md-inputfield">
            <input type="number" required name="qtd" id="qtd"
                   class="ui-inputtext ui-corner-all ui-widget" ngModel #user="ngModel" [(ngModel)]="prod.qtd"
                   #nomef="ngModel" pInputText>
          </span>
        </div>

        <div class="ui-g-12" align="center">
          <span>Motivo<span style="color: red">*</span></span>
          <span class="md-inputfield">
            <input type="text" pInputText>
          </span>
        </div>

        <div class="ui-g-12" align="center">
          <button type="button" pButton icon="ui-icon-check" (click)="updateItem()" label="Salvar" routerLink="/gerente"></button>
        </div>

        <br/><br/>
        <div class="ui-g-12" align="center">
          <div class="fa-align-justify">
            <span style="text-align: center"><span style="color: red">*</span> Campos Obrigatórios</span>
            <br/>
          </div>
        </div>
      </div>
    </div>

</div>

