/* You can add global styles to this file, and also import other style files */
.flex-shrink {
  flex: 0 0;
}

.grow {
  flex: 1;
}

html, body {
  height: 100%;
}

.cursor {
  cursor: default;
}

.bg-admin {
  color: white;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  height: 100%;
  padding-top: 20px;
}

.logo-text-space {
  margin-top: 12px;
}
<<<<<<< HEAD
=======

.space-left-alert {
  margin-left: 10px;
}
>>>>>>> master
