<div class="login-panel ui-fluid">
  <div class="login-panel-header">
    <img src="assets/img/icon.png">
  </div>
  <div class="login-panel-content">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Sign-in to BoxIt</h1>
      </div>
      <form #f="ngForm">
        <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-widget" name="username" ngModel #user="ngModel">
                            <label>Username</label>
                        </span>
        </div>
        <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-widget" ngModel name="password">
                            <label>Password</label>
                        </span>
        </div>
        <div class="ui-g-12">
          <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)=login(user.value)>
            <span class="ui-button-icon-left fa ui-icon-person"></span>
            <span class="ui-button-text">Sign In</span>
          </button>
        </div>
      </form>
      <div class="ui-g-12">
        Don't have an account? <a routerLink="/signup">Sign Up</a> now.
      </div>
    </div>
  </div>
</div>
