<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-lg-12">
    <div class="card docs">


      <form #funform="ngForm">
        <div class="ui-g form-group">
          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" required name="razao" id="razao"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.razao"
                       #nomef="ngModel" pInputText>
                <label>Razao Social</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" name="cnpj" id="cnpj" [disabled]="disable" [(ngModel)]="cli.cnpj" #cnpjj="ngModel" class="ui-inputtext ui-corner-all ui-widget" required
                       [spMask]="cnpjMask" [spKeepMask]="true" pInputText [ngClass]="(cnpjj?.errors?.cnpj || (cnpjj.touched && cnpjj.invalid)) ? 'is-invalid' : ''">
                <label>CNPJ</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="(cnpjj?.errors?.cnpj && cnpjj.touched) || (cnpjj.touched && cnpjj.invalid)"> CNPJ Inválido</div>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" required maxlength="8" minlength="8" name="cep" id="cep"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.cep"
                       #nomef="ngModel" pInputText>
                <label>CEP</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" required name="cidade" id="cidade"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.cidade"
                       #nomef="ngModel" pInputText>
                <label>Cidade</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" required name="endereco" id="endereco"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.endereco"
                       #nomef="ngModel" pInputText>
                <label>Endereco</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" name="complemento" id="complemento"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.complemento"
                       #nomef="ngModel" pInputText>
                <label>Complemento</label>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" required name="nomeres" id="nomeres"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="cli.responsavel"
                       #nomef="ngModel" pInputText>
                <label>Nome do Responsavel</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" name="cpf" id="cpf" [(ngModel)]="cli.cpfres" #cpff="ngModel" class="ui-inputtext ui-corner-all ui-widget" required
                       [spMask]="cpfMask" [spKeepMask]="true" pInputText [ngClass]="(cpff?.errors?.cpf || (cpff.touched && cpff.invalid)) ? 'is-invalid' : ''">
                <label>CPF</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="(cpff?.errors?.cpf && cpff.touched) || (cpff.touched && cpff.invalid)"> CPF Inválido</div>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="text" pInputText #celularf="ngModel" name="celular" maxlength="15" minlength="15"
                       [(ngModel)]="cli.telefone" [spMask]="phoneMask" [spKeepMask]="true" required
                       ngModel id="celular" class="ui-inputtext ui-corner-all ui-widget">
                <label>Celular</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input type="email" pInputText name="email" required email id="email"
                       [(ngModel)]="cli.email" #emailf="ngModel" email
                       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                       class="ui-inputtext ui-corner-all ui-widgetl">
                <label>E-mail</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input id="senha" pInputText required type="password" name="senha" [(ngModel)]="cli.password" #senhaf="ngModel"
                       class="ui-inputtext ui-corner-all ui-widget">
                <label>Senha</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
          </div>

          <div class="ui-g-12">
              <span class="md-inputfield">
                <input name="csenha" pInputText required id="csenha" type="password" ngModel #csenhaf="ngModel"
                       [ngClass]="(csenhaf.invalid && csenhaf.touched) || (csenhaf.touched && confirmasenha(funform,csenhaf)) ? 'is-invalid' : ''"
                       class="ui-inputtext ui-corner-all ui-widget">
                <label>Confirmar Senha</label><span class="ui-message ui-messages-error ui-corner-all">*
              </span>
<span class="ui-message ui-messages-error ui-corner-all" *ngIf="(csenhaf.touched && confirmasenha(funform,csenhaf))">As senhas não conferem</span>
                </span>
          </div>

          <br/>
          <div class="ui-g-12">
            <button class="ui-button-info" pButton label="Cadastrar-se" (click)="confirma()" type="submit"
                    [disabled]="funform.invalid || confirmasenha(funform,csenhaf)"></button>
          </div>

          <br>

          <div class="ui-g-12">
            <div class="fa-align-justify">
              <span style="text-align: center"><span style="color: red">*</span> Campos Obrigatórios</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
