<div class="row">
  <div class="col-12 text-center">
    <h1 class="text-center">Consulta de Estoque</h1>
  </div>
</div>
<div class="container">
  <div class="input-group col-12 col-md-4">
    <div class="input-group-append">
      <button class="btn btn-primary" style="border-bottom-left-radius: 25px; border-top-left-radius: 25px;"><i
        class="fas fa-search"></i></button>
    </div>
    <input type="text" class="form-control" placeholder="Digite o nome do produto"
           style="border-bottom-right-radius: 25px; border-top-right-radius: 25px;">
  </div>
</div>

<br/>

<div class="card" style="margin: 0 auto; width: 80%; margin-bottom: 5px; color: black;" *ngFor="let Estoque of estoq">
  <div class="card-header row" style="color:#fff;background-color:#337ab7;border-color:#337ab7">
    <div class="col-sm-6">
      <h3> {{Estoque.nome}}</h3>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-success" routerLink="{{Estoque.id}}/edit">Editar</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-danger" (click)="confirmarExclusao(Estoque.id)">Deletar</button>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <div class="card-text">Categoria: {{Estoque.categoria}}</div>
      </div>
      <div class="col-sm">
        <div class="card-text">Un/Lote: {{Estoque.lote}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="card-text">Preço: R${{Estoque.preco}}</div>
      </div>
      <div class="col-sm">
        <div class="card-text">Quantidade: {{Estoque.qtd}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card-text">Descrição: {{Estoque.descricao}}</div>
      </div>
    </div>
  </div>
</div>
