<div class="row">
  <div class="col-12 text-center">
    <h1 class="text-center">Consulta de Estoque</h1>
  </div>
</div>
<div class="row">
  <div class="offset-md-3 col-12 col-md-6 table-responsive text-dark">
    <table class="table table-striped table-hover table-sm" style="background: white">
      <thead>
      <tr>
        <th scope="col">nome</th>
        <th scope="col" rowspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cat of categorias">
        <td>{{cat.nome}}</td>
        <td><a routerLink="{{'/categorias/' + cat.id + '/edit'}}">
          <button type="button" class="btn btn-primary"><i class="fal fa-edit"></i></button>
        </a></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="modal(cat.id, cat.nome)"><i
            class="fal fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="offset-md-3 col-12 col-md-6 text-center">
    <a class="btn btn-primary" routerLink="/categorias/new">Nova categoria</a>
  </div>
</div>

