.bg-image {
  color: white;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  height: 100%;
  padding-top: 20px;
}

/*
form {
  margin: 0 auto;
  width: 345px;
}

div{
  margin-top: 2%;
  position: relative;
  display: block;
}

input{
  width: 100%;
}

input[id="cargo"]{
  width: 70%;
}

input[id="gerente"]{
  width: 4%;
}
*/
