<!DOCTYPE html>

<html lang="pt-BR">

<head xmlns="">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<form>
  <div>
    <img src="../../../assets/img/logo.png" alt="Boxit" width=100%>
    <h2 style="margin-top: 0px; margin-bottom: 5%; text-align: center ">Admin - Cadastro</h2>
  </div>

  <div >
    <label for="nome" >Nome Completo</label><br>
    <input type="text" required name="nome" id="nome" placeholder="Elio Bolognese Neto">
  </div>

  <div >
    <label for="cpf" >CPF</label><br>
    <input type="text" name="cpf" [spMask]="cpfMask" placeholder="123.456.789-11" [spKeepMask]="true" [(ngModel)]="cpf" [cpf]="cpf"
           #cpfInput="ngModel" class="form-control" required id="cpf" [ngClass]="(cpfInput?.errors?.cpf) ? 'is-invalid' : ''">
    <div class="invalid-feedback" *ngIf="cpfInput?.errors?.cpf && cpfInput.touched"> CPF Inválido</div>
  </div>



  <div >
    <label for="celular" >Celular</label><br>
    <input type="text" class="form-control" name="celular" [spMask]="phoneMask" placeholder="(33) 99848-6668" [spKeepMask]="true" required ngModel id="celular">
  </div>

  <div >
    <label for= "email">E-mail</label><br>
    <input type="text" name="email" required id="email" placeholder="eliobgz@gmail.com">
  </div>

  <div >
    <label for="cargo">Cargo</label><br>
    <input type="text" name="cargo" required id="cargo" placeholder="Estagiário">
    <input type="checkbox" name="gerente" id="gerente" style="alignment: right">
    <label for="gerente">Gerente</label>
  </div>

  <div class="form-group"
       [class.has-error]="password.touched && password.invalid">
    <label for="password" class="control-label">Password</label>
    <input id="password" required type="text" class="form-control"
           name="password" [(ngModel)]="employee.password"
           #password="ngModel">
    <span class="help-block"
          *ngIf="password.touched && password.errors?.required">
    Password is required
  </span>
  </div>

  <div class="form-group"
       [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input name="confirmPassword" appConfirmEqualValidator="password" required
           id="confirmPassword" type="text" class="form-control"
           [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
    <span class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
    Confirm Password is required
  </span>
    <span class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
          !confirmPassword.errors?.required">
    Password and Confirm Password does not match
  </span>
  </div>

  <div>
    <button class="cancelar" type="submit"> Cancelar </button>
    <button class="confirmar" type="submit"> Confirmar </button>
  </div>

</form>

<br><br><br>
<h4 style="text-align: center">Após preencher, clique no botão abaixo para receber<span class="text-danger">*</span> o seu código de usuário no e-mail cadastrado</h4>
<h5 style="margin-top: -1%; text-align: center"><span class="text-danger">*</span>Prazo de 24h a confirmação de cadastro e envio de e-mail</h5>

</body>

</html>
