<div class="container text-center">
  <div class="col-xs-12">
    <img src="assets/img/logo.png" alt="Boxit">
    <h2 style="margin-top: 0px; margin-bottom: 10px;">Admin - Cadastro</h2>
  </div>
  <form class="col-xs-12">
    <div class="form-group row">
      <label for="nome">Nome Completo</label>
      <input type="text" class="form-control" required name="nome" id="nome" placeholder="nome">
    </div>

    <div class="form-group row">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" [spMask]="cpfMask" [spKeepMask]="true" [(ngModel)]="cpf" [cpf]="cpf"
             #cpfInput="ngModel" class="form-control" required id="cpf" [ngClass]="(cpfInput?.errors?.cpf) ? 'is-invalid' : ''">
      <div class="invalid-feedback" *ngIf="cpfInput?.errors?.cpf && cpfInput.touched"> CPF Inválido</div>
    </div>

    <div class="form-group row">
      <label for="celular">Celular</label>
      <input type="text" class="form-control" name="celular" [spMask]="phoneMask" [spKeepMask]="true" required ngModel id="celular">
    </div>

    <div class="form-group row">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" name="email" required id="email" placeholder="example@example.com">
    </div>

    <div class="form-group row">
      <label for="cargo">Cargo</label>
      <select class="custom-select" id="cargo">
        <option selected>Select one option</option>
        <option value="1">funcionario</option>
        <option value="2">gerente</option>
      </select>
    </div>

    <div class="form-group row">
      <label for="senha">Senha</label><br>
      <input type="password" class="form-control" name="senha" required id="senha">
    </div>

    <div class="form-group row">
      <label for="csenha">Confimar Senha</label><br>
      <input type="password" class="form-control" name="csenha" required id="csenha">
    </div>

    <div class="form-group row justify-content-center">
        <button class="btn btn-danger" type="submit"> Cancelar</button>
        <button class="btn btn-success" type="submit"> Confirmar</button>
    </div>

  </form>
  <div class="col-xs-12">
    <h4 style="text-align: center">Após preencher, clique no botão abaixo para receber<span class="text-danger">*</span> o seu código de usuário no
      e-mail
      cadastrado</h4>
    <h5 style="margin-top: -1%; text-align: center"><span class="text-danger">*</span>Prazo de 24h a confirmação de cadastro e envio de e-mail</h5>
  </div>
</div>
