body{
  background: url("../../background.jpg");
  background-size: 100%;
  color: white;
}

form {
  position:absolute;
  top: 15%;
  left:40%;
}

div{
  margin-top: 5px;
  position: relative;
}
/*
#bb{
  margin-top: 1555px;
  position: relative;
}
*/
button{
  float: left;
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
}

.cancelar{
  background-color: red;
}

.confirmar{
  background-color: green;
}
