body{
  background: url("../../../assets/img/background.jpg");
  background-size: 100%;
  color: white;
}

form {
  margin: 0 auto;
  width: 345px;
}

div{
  margin-top: 2%;
  position: relative;
  display: block;
}

input{
  width: 100%;
}

input[id="cargo"]{
  width: 76%;
}

input[id="gerente"]{
  width: auto;
}
