<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-lg-6">
    <div class="card card-w-title">
      <h1>Modificar produto</h1>
      <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-12">
          <span class="md-inputfield">
            <input type="text" required name="nome" id="nome"
                   class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.nome"
                   #nomef="ngModel" pInputText>
            <label>Nome do Produto</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
          </span>
        </div>

        <div class="ui-g-12 ui-md-12">
              <span class="md-inputfield">
                <input type="text" required name="descricao" id="descricao"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.descricao"
                       #nomef="ngModel" pInputText>
                <label>Descrição</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
        </div>

        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input type="text" required name="qtd" id="qtd"
                   class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.qtd"
                   #nomef="ngModel" pInputText>
            <label>Quantidade</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
          </span>
        </div>

        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input type="text" required name="lote" id="lote"
                   class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.lote"
                   #nomef="ngModel" pInputText>
            <label>Un/Lote</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
          </span>
        </div>

        <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield">
                <input type="text" required name="codigo" id="codigo"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.codigo"
                       #nomef="ngModel" pInputText>
                <label>Codigo</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
        </div>

        <div class="ui-g-12 ui-md-12">
              <span class="md-inputfield">
                <input type="text" required name="categoria" id="categoria"
                       class="ui-inputtext ui-corner-all ui-widget"  ngModel #user="ngModel" [(ngModel)]="stock.categoria"
                       #nomef="ngModel" pInputText>
                <label>Categoria</label><span class="ui-message ui-messages-error ui-corner-all">*</span>
              </span>
        </div>
        <br/>
        <div class="ui-g">
          <div class="ui-g-12" style="text-align:center">
            <button pButton type="button" label="Enviar" class="blue-btn flat" (click)="updateEstoque()"></button>

          </div>
        </div>
        <br>

        <div class="ui-g-12">
          <div class="fa-align-justify">
            <span style="text-align: center"><span style="color: red">*</span> Campos Obrigatórios</span>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
