<div class="exception-panel">
  <div class="exception-code">
    <img src="assets/layout/images/exception/401.svg">
  </div>

  <div class="exception-detail">
    <div class="exception-icon">
      <i class="material-icons">verified_user</i>
    </div>
    <h1>ACESSO NEGADO</h1>
    <p>Por favor contate o administrador</p>
    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only" (click)="home()" style="cursor: pointer;">
      <span class="ui-button-text">Voltar para o Início</span>
    </button>
  </div>
</div>
